{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static "comp_poster/css/base.css" %}"  />

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static "common/img/favicon.png" %}" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="{% static 'comp_poster/js/jquery.Jcrop.js' %}"></script>
  <link href="{% static 'comp_poster/css/jquery.Jcrop.min.css' %}" rel="stylesheet">
<!--
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/journal/bootstrap.min.css" rel="stylesheet">
-->
    <!--United Bootstrap
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/united/bootstrap.min.css" rel="stylesheet">
    -->


    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css" rel="stylesheet">

    <!-- uncomment for jquery-ui datetime picker widget
    <link type="text/css" href="{% static "common/css/blitzer/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" />
    <script src="{% static "common/js/jquery-ui-1.10.3.custom.min.js" %}" type="text/javascript"></script>
    -->

    <title>{% block title %}Comp Key Profile Pic Maker{% endblock %}</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->



</head>

<body>


<div class="container">
<h1>Comp Key Profile Pictures</h1>

<div class="row">
{% for file in files %}
	<a href="http://cks.s3.amazonaws.com/propics/{{ file }}"><img src="http://cks.s3.amazonaws.com/propics/{{ file }}" width="250" height="250" /></a>
	{% if forloop.counter|divisibleby:"4" %}
		</div><div class="row">
	{% endif %}
{% endfor %}
</div>

      
    </div><!-- /.container -->

  </body>
</html>