{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="{% static "comp_poster/css/base.css" %}"  />

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="{% static 'comp_poster/js/jquery.Jcrop.js' %}"></script>
  <link href="{% static 'comp_poster/css/jquery.Jcrop.min.css' %}" rel="stylesheet">

    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/yeti/bootstrap.min.css" rel="stylesheet">


    <title>{% block title %}Comp Key Profile Pictures{% endblock %}</title>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->



<script language="javascript">

    function updateCoords(c)
    {
        jQuery('#x').val(c.x);
        jQuery('#y').val(c.y);
        jQuery('#w').val(c.w);
        jQuery('#h').val(c.h);
    };

    function bind_it()
    {
        $('form img').Jcrop({
            minSize: [200, 200],
            aspectRatio: 1.0,
            onSelect: updateCoords,
            setSelect:   [0, 0, 200, 200],
        });
    }


    $(document).ready(function() {
        $("#id_image").change(function(e) {
            $('img').remove();
            $('.jcrop-holder').remove();
            for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {
                var file = e.originalEvent.srcElement.files[i];

                var img = document.createElement("img");

                img.setAttribute("id", "crop");
                var reader = new FileReader();
                reader.onloadend = function() {
                    img.src = reader.result;
                }
                reader.readAsDataURL(file);

                $("#image_holder").html(img);
            }

            setTimeout(bind_it, 200);
        });
    });

</script>
</head>

<body>

<form name="ignore" class="hidden">
    <input type="hidden" id="page_is_back" name="page_is_back" value="0" />
</form>

<script>
    var back_bit = document.getElementById('page_is_back');
    function mark_page_back() {
        back_bit.value = '1';
    }
    if (back_bit.value == '1') {
        window.location.reload();
    }
    else
    {
        mark_page_back();
    }
</script>


<div class="container">
<h1>Make Your Comp Key Profile Picture</h1>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <img src="{% static 'common/img/sample.png' %}" style="width: 100%;" />
        </div>
    </div>


<p>
To make your Comp Key pro pic, choose a background picture, crop it (the larger selection you use, the bigger the final picture will be. Drag the corners of the selection box to use a larger area), and click submit.
</p>
{% for error in form.image.errors %}
    <div class="alert alert-danger">{{ error }}</div>
{% endfor %}
<form method="POST" enctype="multipart/form-data" class="form-container">
    {% csrf_token %}
    <input type="hidden" id="x" name="x" />
    <input type="hidden" id="y" name="y" />
    <input type="hidden" id="w" name="w" />
    <input type="hidden" id="h" name="h" />

    <div class="form-group">
        <label for="id_image">Image:</label>
        <input id="id_image" name="image" type="file" />
    </div>

    <div id="image_holder"></div>

<div class="btn-container">
    <button type="submit" class="btn btn-compkey">Submit</button>
</div>
</form>
      
    </div><!-- /.container -->


<style>
.btn-compkey
{
    border: #c0282e solid 3px;
    color: #c0282e;
    background: transparent;
    margin-bottom:20px;
}

.btn-compkey:hover, .btn-compkey:active, .btn-compkey:visited
{
    border: #c0282e solid 3px;
    background: #c0282e;
    color:white;
}
</style>
  </body>
</html>