button[type="submit"]
{
	margin-top:20px;
}

h1
{
	text-align:center;
	display:block;
}

.btn-primary
{
	margin:auto;
}

.btn-container
{
	display:block;
	width:100%;
	text-align:center;
	margin-bottom:20px;
}

p
{
	display:block;
	margin-top:10px !important;
}